# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Database
*.db
*.sqlite3
instance/

# IDE
.vscode/
.idea/

# Logs
*.log

# Other
.DS_Store
MakeMine.txt

# Ignore external directory
KakurenboMaster/